#users_sign_up_menu
  .header
    =link_to '', class:'header--logo' do
      %img{:alt => "mercari", :height => "46", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3409339020"}/
  .main
    .main__nav
      新規会員登録
    .main__menu
      =link_to new_user_registration_path(),class:'main__menu__item main__menu--mail' do
        メールアドレスで登録
        .main__menu__item--icon
          =fa_icon 'envelope-o lg'
      =link_to '',class:'main__menu__item main__menu--facebook' do
        Facebookで登録
        .main__menu__item--icon
          =fa_icon 'facebook-square 2x'
      =link_to '',class:'main__menu__item main__menu--google' do
        Googleで登録
        .main__menu__item--icon
          %img{src:"https://img.icons8.com/color/30/000000/google-logo.png"}/
  .footer
    %ul.footer__links
      %li.footer__links__link
        =link_to 'プライバシーポリシー', ''
      %li.footer__links__link
        =link_to 'メルカリ利用規約', ''
      %li.footer__links__link
        =link_to '特定商取引に関する表記', ''
    .footer--logo
      =image_tag 'logo-gray.svg'
    .footer--copyright
      &copy; 2019 Mercari