%header.header
  .header-inner
    .header-top
      %h1
        %a{:href => "/"}
          %img{:alt => "mercari", :height => "36", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3409339020", :width => "134"}/
      %form.header-form{:action => "/"}
        %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        =fa_icon 'search',class:"icon-search"
    .header-nav-box
      = render 'partial/header_l-left'

      .l-right
        -if user_signed_in?
          %ul.header-user-nav
            %li
              %a.header-menu-link
                =fa_icon 'bell',class:"icon-bell"
                %span お知らせ
            %li
              %a.header-menu-link
                =fa_icon 'check',class:"icon-check"
                %span やることリスト
            %li
              %a.header-user-icon.header-menu-link{:href => "/"}
                .user
                  .user--img
                    %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "32"}/
                  .user--link
                    マイページ
        -else
          %ul.user-sign-nav
            %li
              =link_to 'ログイン', new_user_session_path(), class: 'user-sign-nav--login'
            %li
              =link_to '新規会員登録', '/users/sign_up_menu', class: 'user-sign-nav--regist'