-# %nav.l-left
-#   %ul.header-nav
-#     %li
-#       %h2
-#         %a.header-nav-root
-#           =fa_icon 'list',class:"icon-list"
-#           %span カテゴリーから探す

          
    

%nav#dd.l-left
  %ul.header-nav
    %li
      %h2
        %a.header-nav-root
          =fa_icon 'list',class:"icon-list"
          %span カテゴリーから探す
      %ul.level1
        %li
          %a.item-arrow{:href => ""} ダミーテキストAA
          %ul.level2
            %li
              %a{:href => ""} ダミーテキスト1
            %li
              %a{:href => ""} ダミーテキスト2
            %li
              %a{:href => ""} ダミーテキスト3
            %li
              %a{:href => ""} ダミーテキスト4
            %li
              %a{:href => ""} ダミーテキスト5
            %li
              %a{:href => ""} ダミーテキスト6
            %li
              %a{:href => ""} ダミーテキスト7
            %li
              %a{:href => ""} ダミーテキスト8
        %li
          %a.item-arrow{:href => ""} ダミーテキストA
          %ul.level2
            %li
              %a{:href => ""} ダミーテキスト1
            %li
              %a{:href => ""} ダミーテキスト2
            %li
              %a{:href => ""} ダミーテキスト3
            %li
              %a{:href => ""} ダミーテキスト4
            %li
              %a{:href => ""} ダミーテキスト5
            %li
              %a{:href => ""} ダミーテキスト6
            %li
              %a{:href => ""} ダミーテキスト7
            %li
              %a{:href => ""} ダミーテキスト8
        %li
          %a.item-arrow{:href => ""} ダミーテキストB
          %ul.level2
            %li
              %a{:href => ""} ダミーテキスト1
            %li
              %a{:href => ""} ダミーテキスト2
            %li
              %a{:href => ""} ダミーテキスト3
            %li
              %a{:href => ""} ダミーテキスト4
            %li
              %a{:href => ""} ダミーテキスト5
            %li
              %a{:href => ""} ダミーテキスト6
            %li
              %a{:href => ""} ダミーテキスト7
            %li
              %a{:href => ""} ダミーテキスト8
        %li
          %a.item-arrow{:href => ""} ダミーテキストC
          %ul.level2
            %li
              %a{:href => ""} ダミーテキスト1
            %li
              %a{:href => ""} ダミーテキスト2
            %li
              %a{:href => ""} ダミーテキスト3
            %li
              %a{:href => ""} ダミーテキスト4
            %li
              %a{:href => ""} ダミーテキスト5
            %li
              %a{:href => ""} ダミーテキスト6
            %li
              %a{:href => ""} ダミーテキスト7
            %li
              %a{:href => ""} ダミーテキスト8
        %li
          %a.item-arrow{:href => ""} ダミーテキストD
          %ul.level2
            %li
              %a{:href => ""} ダミーテキスト1
            %li
              %a{:href => ""} ダミーテキスト2
            %li
              %a{:href => ""} ダミーテキスト3
            %li
              %a{:href => ""} ダミーテキスト4
            %li
              %a{:href => ""} ダミーテキスト5
            %li
              %a{:href => ""} ダミーテキスト6
            %li
              %a{:href => ""} ダミーテキスト7
            %li
              %a{:href => ""} ダミーテキスト8
        %li
          %a.item-arrow{:href => ""} ダミーテキストE
          %ul.level2
            %li
              %a{:href => ""} ダミーテキスト1
            %li
              %a{:href => ""} ダミーテキスト2
            %li
              %a{:href => ""} ダミーテキスト3
            %li
              %a{:href => ""} ダミーテキスト4
            %li
              %a{:href => ""} ダミーテキスト5
            %li
              %a{:href => ""} ダミーテキスト6
            %li
              %a{:href => ""} ダミーテキスト7
            %li
              %a{:href => ""} ダミーテキスト8
    -# %li
    -#   %a{:href => ""} にゃー
    -#   %ul.level1
    -#     %li
    -#       %a{:href => ""} ダミーテキスト
    -#     %li
    -#       %a.item-arrow{:href => ""} ダミーテキスト
    -#       %ul.level2
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
    -#         %li
    -#           %a.item-arrow{:href => ""} ダミーテキスト
    -#           %ul.level2
    -#             %li
    -#               %a{:href => ""} ダミーテキスト
    -#             %li
    -#               %a{:href => ""} ダミーテキスト
    -#             %li
    -#               %a{:href => ""} ダミーテキスト
    -#             %li
    -#               %a{:href => ""} ダミーテキストダミーテキスト
    -#             %li
    -#               %a{:href => ""} ダミーテキストダミーテキスト
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
    -#     %li
    -#       %a.item-arrow{:href => ""} ダミーテキスト
    -#       %ul.level2
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
    -#         %li
    -#           %a{:href => ""} ダミーテキスト
      / /#dd-01

    %li
      %h2
        %a.header-nav-root
          =fa_icon 'tag',class:"icon-tag"
          %span ブランドから探す

%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"}
:javascript
  $(function() {
    $("#dd li ul").hide();
    $("#dd li").hover(function() {
      $(">ul", this).stop(true, true).slideDown("fast");
      $(">a", this).addClass("active");
    },
    function() {
      $(">ul", this).stop(true, true).slideUp("fast");
      $(">a", this).removeClass("active");
    });
  });
