-# %ul.main__catagory
-#   - @categories.each do |category1|
-#     %li.main__catagory--list.matchHeight
-#       = category1.name
-#       %ul.sub__catagory.matchHeight
-#         - category1.children.each do |category2|
-#           %li.sub__catagory--list
-#             = category2.name
-#             %ul.sub__sub__catagory
-#               - category2.children.each do |category3|
-#                 %li
-#                   = category3.name