@import "./reset";
@import "font-awesome";
@import "mixin/a_change";
@import "variables/colors";
@import "modules/main-header";
@import "modules/main-main";
@import "modules/main-footer";

.header{
  width: 1020px;
  height: 100px;
  margin: 0 auto;
  background-color: aqua;
}

.main{
  width: 940px;
  height: 200vh;
  margin: 0 auto;
  background-color: orange;
}


